.Header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.tinder-logo {
    color: red;
    object-fit: contain;
    width: 60px;
    height: 50px;
}
.header_icon {
    font-size: 80px;
}